.category{
  box-sizing: border-box;
  padding: 5px;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0px 1px 3px 1px #01010136;
  border-radius: 4px;
}

.category-info{
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.category-elements{
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 1em;
  margin-top: 1em;
}

.element{
  width: 300px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px #01010136;

  @media screen and (max-width: 900px){
    width: 200px;
    height: 100px;
  }
}
